@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .dark-bg-desktop {
        background-image: url('/images/bg-desktop-dark.jpg');
        @apply dark:bg-very-dark-blue ;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .light-bg-desktop {
        background-image: url('/images/bg-desktop-light.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .dark-bg-mobile {
        background-image: url('/images/bg-mobile-dark.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .light-bg-mobile {
        background-image: url('/images/bg-mobile-light.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}